.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s; /* Smooth transition for fading */
  position: fixed; /* Fix navbar at the top */
  width: 90%; /* Full width */
  top: 0; /* Align to the top */
  z-index: 1000; /* Ensure it appears above other elements */
}

.Navbar.visible {
  opacity: 1; /* Show when visible */
}

.Navbar-title {
  margin: 0;
}

.Navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Navbar a {
  text-decoration: none; /* No underline by default */
  font-weight: bold;
  transition: text-decoration 0.3s, color 0.3s; /* Smooth transition for underline and color */
  color: var(--secondary-color);
}

.Navbar-menu li:last-child a {
  margin-right: 15px; /* Adjust the right margin as needed */
}