.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF !important; /* Ensure it's white and overrides other styles */
  padding: 15px 30px;
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s; /* Smooth transition for fading */
  position: fixed; /* Fix navbar at the top */
  width: 90%; /* Full width */
  top: 0; /* Align to the top */
  z-index: 1000; /* Ensure it appears above other elements */
}

.Navbar.visible {
  opacity: 1; /* Show when visible */
}

.Navbar-title {
  margin: 0;
  color: #000000; /* Color of Zeraiz Shabbir text */
}

.Navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Navbar li {
  margin-left: 20px;
}

.Navbar a {
  color: #000000; /* Dark gray for links */
  text-decoration: none; /* No underline by default */
  font-weight: bold;
  transition: text-decoration 0.3s, color 0.3s; /* Smooth transition for underline and color */
}

.Navbar a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
  color: #007bff; /* Optional: Change color on hover for emphasis */
}
