.nav-circles {
  position: fixed;
  left: 20px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for centering */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between circles */
  z-index: 20;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out; /* Faster transition */
  position: relative;
}

.circle-background {
  content: '';
  position: absolute;
  width: 0; /* Start with no width */
  height: 0; /* Start with no height */
  background-color: var(--secondary-color);
  border-radius: 10px; /* Rounded corners */
  z-index: -1; /* Keep behind the circle */
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out; /* Faster expansion */
}

.circle:hover .circle-background {
  width: 110px; /* Final width for the rectangle */
  height: 35px; /* Final height for the rectangle */
}

.tooltip {
  color: var(--primary-color);
  font-size: 14px; /* Tooltip font size */
  position: absolute; /* Position the tooltip */
  text-align: center;
  width: 100%;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  pointer-events: none; /* Prevent tooltip from capturing mouse events */
  z-index: 2;
}