.nav-circles {
  position: fixed;
  left: 20px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for centering */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between circles */
  z-index: 20;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
}

.tooltip {
  color: white; /* Tooltip text color */
  font-size: 14px; /* Tooltip font size */
  position: absolute; /* Position the tooltip */
  text-align: center;
  width: 100%;
}
