/* General Projects Section Styling */
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  background-color: transparent; /* No background here, we will use the overlay */
}

/* Wrapper for Projects List */
.projects-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Adjusted to make it more compact */
}

/* Projects List with snap scroll behavior */
.projects-list {
  display: flex;
  flex-direction: row;
  gap: 12px; /* Maintain space between items */
  min-height: 200px;
  scroll-snap-type: x mandatory;
}

/* Project card styling */
.project-item {
  width: 300px; /* Reduced the width for more compact cards */
  height: auto;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, visibility 0s 0.5s;
  scroll-snap-align: center; /* Center alignment for snap effect */
}

/* Image styling */
.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Hover effect */
.project-item.hovered {
  transform: translateY(-10px) scale(1); /* Set to normal size */
}

/* Slide up and down animations */
.project-item.sliding-up {
  animation: slideUp 0.5s forwards;
}

.project-item.sliding-down {
  animation: slideDown 0.6s forwards; /* Increased timing for smooth exit */
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

/* Overlay styling for project details */
.project-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color); /* Use primary color for the overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Project image slide-in animation */
.project-image-slide {
  position: absolute; /* Position the image absolutely within the overlay */
  left: calc(40px + 5%); /* Keep consistent margins */
  transform: translateX(-50%);
  width: 22%; /* Set width as desired */
  height: auto; /* Maintain aspect ratio */
  animation: imageSlideDown 0.5s forwards; /* Add slide down animation */
  z-index: 20; /* Ensure it sits above the overlay */
}

/* Slide down animation for the image */
@keyframes imageSlideDown {
  0% {
    transform: translateY(-100vh); /* Start out of view */
  }
  100% {
    transform: translateY(0); /* Slide down into view */
  }
}

/* Slide up animation for closing */
.project-image-slide-up {
  animation: imageSlideUp 0.5s forwards; /* Slide out when closing */
}

@keyframes imageSlideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh); /* Slide out of view */
  }
}
