@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif; /* Define a custom property for easier maintenance */
  --primary-color: #F8F8F8; /* background */
  --secondary-color: #333333; /* text and buttons */
  --accent-color: #FF6F61; /* important text */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  /* overflow: hidden; Prevent scrolling by default */
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh; /* Full height for the app container */
  scroll-snap-type: y mandatory; /* Enable snap scrolling */
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family); /* Use the custom property */
  
}

.LandingPage,
.Projects,
.AboutMe {
  height: 100vh; /* Full height for each section */
  scroll-snap-align: start; /* Snap alignment for sections */
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: auto
}

.Navbar {
  padding: 10px;
  position: fixed; /* Keep the navbar at the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it sits above other content */
}

.Navbar ul {
  list-style: none;
  padding: 0;
}

.Navbar li {
  display: inline;
  margin: 0 10px;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.ProjectCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 300px;
}

strong, b {
  color: var(--accent-color); /* Use the accent color for bolded text */
}

* {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}
